<div class="demo-button-container pt-2">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar Autor
  </button>
  <!-- <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove data
  </button> -->
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>


    <ng-container matColumnDef="NombreCompleto">
      <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="FechaNacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="CiudadProcedencia">
      <th mat-header-cell *matHeaderCellDef> Ciudad Procedencia </th>
      <td mat-cell *matCellDef="let element"> {{element.ciudadProcedencia}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="CorreoElectronico">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.correoElectronico}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>