<h1 mat-dialog-title>Agregar Autor</h1>
<div mat-dialog-content [formGroup]="form">

<mat-form-field>
    <mat-label>Nombre Completo</mat-label>
    <input matInput formControlName="nombreCompleto">
</mat-form-field>

<mat-form-field>
    <mat-label>Fecha Nacimiento</mat-label>
    <input matInput formControlName="fechaNacimiento">
</mat-form-field>

<mat-form-field>
    <mat-label>Ciudad Procedencia</mat-label>
    <input matInput formControlName="ciudadProcedencia">
</mat-form-field>

<mat-form-field>
    <mat-label>Correo Electrónico</mat-label>
    <input matInput formControlName="correoElectronico">
</mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [disabled]="!form.valid" (click)="guardar()" 
        [disabled]="!form.valid" 
        cdkFocusInitial>Guardar</button>
</div>