
<div class="demo-button-container pt-2">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar Editorial
  </button>
  <!-- <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove data
  </button> -->
</div>



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="direccionCorrespondencia">
      <th mat-header-cell *matHeaderCellDef> Dir Correspondencia </th>
      <td mat-cell *matCellDef="let element"> {{element.direccionCorrespondencia}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="correoElectronico">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.correoElectronico}} </td>
    </ng-container>

    <ng-container matColumnDef="maximoLibrosRegistrados">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.maximoLibrosRegistrados}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>