
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">Menu</mat-icon>
    </button> -->
    <h1>Nexos Soft</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
  
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav opened="true" disableClose="true">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/Editorial'"> Editorial </a>
      <a mat-list-item [routerLink]="'/Autor'"> Autor </a>
      <a mat-list-item [routerLink]="'/Libro'"> Libro </a>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Cerrar</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <div style="height: 88vh; padding-left: 8%">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>